.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

mat-form-field {
  width: 80%;
}

.file-upload {
  width: 80%;
  margin-top: 2rem;
}
