.container {
  padding: 2rem;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}

.banner-table {
  flex-grow: 1;
}
